@charset "UTF-8";

body {
    background-image: url("potato.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

header {
    background-color: #343a40;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    padding: 2em;
    margin: auto;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.post-card {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: calc(50% - 20px); 
    background-color: white;
}

.post-title {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.post-author {
    font-style: italic;
    color: #666;
    margin-bottom: 5px;
}

.post-content {
    margin-bottom: 10px;
}

.post-actions {
    position: absolute;
    bottom: 5px;
    left: 10px;
    display: flex;
    justify-content: flex-start;
}

.edit-link,
.delete-link {
    margin-right: 10px;
    color: #007bff;
    text-decoration: none;
}

.edit-link:hover,
.delete-link:hover {
    text-decoration: underline;
}

.write-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.write-link:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 1em;
    }

    .post-card {
        width: 100%; /* 모바일 화면에서는 한 열로 표시 */
    }
}